target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.iml
!.idea/runConfigurations

.idea/*.xml
.idea/scopes
.idea/dictionaries
.idea/libraries
.idea/inspectionProfiles
.idea/.name
.idea/artifacts